@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  button,
  input,
  select {
    @apply transition duration-400;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  input,
  select {
    @apply rounded-md border-2 border-gray-800 px-2 py-1 focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:outline-none;
  }

  button {
    @apply cursor-pointer rounded-md bg-blue-500 px-4 py-2 text-white hover:bg-blue-600;

    &:disabled {
      @apply cursor-not-allowed opacity-50;
    }
  }
}
